<h1><%= @user %></h1>
<a href="<%= user_comments_url(@user) %>">Comment on <%= @user %></a>


<% goals_list = ( @user == current_user ? @user.goals : @user.public_goals ) %>


<% goals_list.each do |goal| %>
  <br><%= goal %>: <%= goal.content %>
<% end %>

<% if current_user == @user %>
  <%= render partial: 'goals/new', locals: { goal: @goal } %>
<% end %>