<!DOCTYPE html>
<html>
<head>
  <title>KickinIt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

  <%= yield %>

  <br>
  <br>
  <br>
  <% if current_user  %>
    <div class="footer">
      Welcome to the People's Republic, <%= current_user.username %>!
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">

        <%= auth_token %>

        <button>Sign Out</button>
      </form>
    </div>
  <% end %>

</body>
</html>
