<!DOCTYPE html>
<html>
<head>
  <title>KickinIt</title>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

  <%= yield %>

  <% if current_user  %>
    Welcome to the People's Republic, <%= current_user.username %>!
    <form action="<%= session_url %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">

      <%= auth_token %>

      <button>Sign Out</button>
    </form>
  <% end %>

</body>
</html>
